<div class="c1">
    <div class="container">
      <h3>Employee Management System</h3>
  
      <h2>Sign In</h2>
  
      <form (ngSubmit)="onSubmit()">
        <div class="row">
  
          <div class="input-field col s12">
            <div class="input-container">
              <i class="material-icons prefix">account_circle</i>
  
              <input type="text" id="UserName" [(ngModel)]="UserName" name="UserName" placeholder="UserName" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <div class="input-container">
              <i class="material-icons">lock_open</i>
              <!-- <input matInput type="password" placeholder="Password" [type]="hide?'password' :'text'">
            <i class="material-icons" matSuffix (click)="hide=!hide">
              {{hide? 'visibility' :'visibility_off'}}
            </i>-->
              <input type="Password" id="Password" [(ngModel)]="Password" name="Password" placeholder="Password" />
            </div>
          </div>
        </div><br>
        <!--<form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" [type]="hide?'password' :'text'">
            <i class="material-icons" matSuffix (click)="hide=!hide">
              {{hide? 'visibility' :'visibility_off'}}
            </i>
          </mat-form-field>
          </form>-->
  
  
        <div class="row">
          <div class="input-field col s12">
            <div class="input-card">
            
              <mat-form-field>
                <i class="material-icons">business&nbsp;&nbsp;&nbsp;&nbsp;</i>
                <!--<input type="text" id="OrgName" [(ngModel)]="OrgName" name="OrgName" placeholder="Organaization" /><br>-->
  
                <mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Organaization</mat-label>   
              <mat-select [(ngModel)]="OrgName" name="OrgName"  id="OrgName">
           <mat-option value="Elon Native System">Elon Native System</mat-option>
           <mat-option value="TCS" >TCS </mat-option>
           <mat-option value="Wipro">Wipro</mat-option>
         </mat-select>
       </mat-form-field>
            </div>
          </div>
        </div><br><br>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn-large btn-submit" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
  
  
    <ul>
      <li><a [routerLink]="['/forgotpassword/forgotpw']">Forgot Password</a></li>
    </ul>
  </div>